<header></header>
<main class="board-wrapper">
  <section>
    <h1>Executive Board:</h1>
    <ul>
      <li><span>President: </span>Patsy Stickel</li>
      <li><span>President-elect: </span>Betty Geary</li>
      <li><span>Secretary: </span>Sandra Wooden</li>
      <li><span>Treasurer: </span>Kay Cooke</li>
      <li><span>Directors: </span>
        <ul>
          <li>Patricia Cooke</li>
          <li>Barbara German</li>
          <li>Brenda Noblitt</li>
        </ul>
      </li>
    </ul>
    <div class="board-img">
      <img src="./images/board/IMG_3969.JPG" alt="photo of the executive board">
    </div>
  </section>
</main>
<footer><footer>
