<main class="ethics-wrapper">
  <section class="ethics">
    <h1>Code of Ethics:</h1>
    <img src="./images/ethics/Shining the Light.jpg" alt="Pilot is the key to service logo">
    <h2>Realizing that whatever a Pilot touches should be ennobled by that touch, we, as business leaders, are resolved to make our business standards high, to do our work in every place in which we are employed as if it were our life work, never omitting an opportunity of doing a kindness or making a friend; to put into our business dealings a note of sympathy for humanity; to follow truth; to do our best from dawn til night; and so to live in the discharge of our duty, so to take care of every responsibility that comes before us that we shall radiate that which is unselfish, beautiful and true; and when we shall have finished with our tasks we shall  haven given an upward impetus to human ideals and achievements.</h2>
    <h3>With this resolution before us then, we believe it is our duty as Pilots:</h3>
    <ul>
      <li>&#8251; To consider our work worthy and ourselves worthy of our work, exemplifying in it at all times the Pilot motto, "True Course Ever."</li>
      <li>&#8251; To work each day at that which is before us seriously, vigorously, calmly, cheerily; to improve ourselves in every possible way; to increase our efficiency; to enlarge our visions.</li>
      <li>&#8251; To be ambitious to succeed, but always to be ethical, desiring nothing that is not achieved by justice, honesty and fairness.</li>
      <li>&#8251; To live in the presence of the great eternal laws, which will keep us patient when the task is irksome and calm and unspoiled when we seem to succeed.</li>
      <li>&#8251; To acquire self-control and self-reliance; to be ready to give as well as take; to develop in ourselves an  appreciation of the finer things of life; to be honest and generous; to help, not to hinder; to be slow of criticism and quick with praise.</li>
      <li>&#8251; To cherish our visions and our ideals; to cherish the music that stirs our hearts, the beauty that forms in our minds, knowing that on these things we can build our world, for missions and dreams are the seedlings of reality.</li>
      <li>&#8251; To be loyal to Pilot in thought, word, and deed.</li>
      <li>&#8251; To see no evil, hear no evil, speak no evil, think no evil of a Pilot, but to be no more loyal to a Pilot in this  respect than we are to every other person, for the genius of  Pilot is in its kindness, and justice is the soul and substance of  life.</li>
    </ul>
    <img src="./images/Logos/logo-sm.png" alt="small anchor logo">
    <h2>This Code of Ethics of Pilot International was written by Pearl Sparks of Florence, Alabama and was first presented in 1926 at the 5th Annual Convention held in Montgomery, Alabama with 69 Pilots attending.</h2>
  </section>
</main>
