<main class="footer-wrapper">
  <section class="footer-logo">
    <img src="./images/Logos/logo3.png" alt="">
  </section>

  <section class="footer-address">
    <ul>
      <li>Battlefield Pilot Club</li>
      <li>P.O. Box 5624</li>
      <li>Ft. Oglethorpe, GA 30742</li>
      <li>Nonprofit Organization</li>
    </ul>
  </section>

  <section class="footer-social">
    <div class="footer-social-circle">
      <a href="https://www.facebook.com/pg/Battlefield-Pilot-Club-136839997355"><i class="fa fa-facebook" aria-hidden="true"></i></a>
    </div>
    <div class="footer-social-circle">
      <a href="https://www.pinterest.com/pin/90353536244458447/"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
    </div>
  </section>

  <section class="footer-copyright">
    <p><span>&copy;</span> 2017 Jason Stickel</p>
  </section>
</main>
