<main class="header-wrapper shadow">
  <div id="nav-icon3">
    <span></span>
    <span class="white"></span>
    <span class="white"></span>
    <span class="white"></span>
  </div>

  <nav id="header-wrapper-slide">
    <ul id="header-slide">
      <li id="header-first-li"><a ui-sref="home">Home</a></li>
      <li><a ui-sref="javascript:void(0)">Projects</a></li>
      <li><a ui-sref="memberships">Membership</a></li>
      <li><a ui-sref="javascript:void(0)">Code of Ethics</a></li>
      <li><a ui-sref="javascript:void(0)">Contact Us</a></li>
    </ul>
  </nav>

  <figure>
    <img src="../images/Logos/Facebook.jpg" alt="pilot club logo">
    <figcaption>Battlefield Georgia</figcaption>
  </figure>

</main>
