<main class="mem-wrapper">
  <section class="mem-top">
    <h1>Membership:</h1>
    <h2>What does it mean to be a Pilot member?</h2>
    <h3>Values serve as the cornerstone to an organization. They encourage and direct and organization's people and their work.  Pilot members have said that our organization values:</h3>
    <ul>
      <li>Friendship & Fellowship</li>
      <li>Service</li>
      <li>Leadership</li>
      <li>Personal Growth</li>
      <li>Community</li>
      <li>International Diversity</li>
      <li>Ethical Behavior</li>
    </ul>
    <img src="./images/membership/greenLogo.jpg" alt="green pilot logo">
  </section>

  <section class="mem-bottom">
    <p>These intangible values are essential to the culture of Pilot International. They enable us to survive as an organization, and to draw additional members who are inspired by and committed to the work we perform in our communities. Pilot's values have been formed and polished over the last 70 years, beginning with the first club in Macon and eventually traveling to over 500 clubs around the world.</p>
    <p>If you have any questions or would like to attend on of our meetings please contact Patsy Stickel, President at <span>423.260.0234</span> or email me a message below.</p>
  </section>

  <section class="contact">
    <h1 class="contact-heading">Contact Us:</h1>
    <form action="https://formspree.io/your@email.com" method="POST">
      <div class="contact-info">
        <input type="text" name="name" placeholder="Name" class="contact-name" />
        <input type="email" name="_replyto" placeholder="Email" class="contact-email" />
        <textarea name="message" placeholder="Message" rows="6" class="contact-message"></textarea>
        <button type="submit">Send</button>
      </div>
    </form>
  </section>
</main>
