@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800');

@font-face {
  font-family: "averta";
  src: url(./fonts/averta-bold-5949306582138.otf)
}

@font-face {
  font-family: "roboreg";
  src: url(./fonts/Roboto-Slab-Regular/RobotoSlab-Regular.ttf)
}


$sans: 'Open Sans', sans-serif;
$av: "averta";
$robreg: "roboreg";
