@import 'fonts';

.board-wrapper {
  color: #3f3f3f;
  padding: 30px 5%;
  text-align: justify;
  h1 {
    font-family: $av;
    font-size: 30px;
    text-decoration: underline;
    margin-bottom: 15px;
  }
  ul {
    margin-bottom: 20px;
    padding: 0 15px;
    li {
      color: #545454;
      font-family: $sans;
      font-style: italic;
      line-height: 34px;
      span {
        font-size: 20px;
        font-family: $av;
      }
    }
  }
  .board-img {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    img {
      height: 215px;
      transform: rotate(180deg);
      border-radius: 5%;
    }
  }
  h2 {
    font-size: 20px;
    font-family: $robreg;
    font-weight: bold;
    text-align: center;
    font-style: italic;
  }
}
