@import 'fonts';

.ethics-wrapper {
  color: #3f3f3f;
  padding: 30px 5%;
  font-family: $robreg;
  text-align: justify;
  .ethics {
    h1 {
      font-family: $av;
      font-size: 30px;
      text-decoration: underline;
      margin-bottom: 20px;
    }
    img:first-of-type {
      float: right;
      height: 150px;
      margin-left: 10px;
      padding-top: 1.5%;
    }
    h2 {
      font-family: $robreg;
      font-size: 18px;
      margin-bottom: 10px;
      line-height: 30px;
    }
    h2:first-of-type {
      margin-bottom: 30px;
    }
    h3 {
      font-family: $robreg;
      line-height: 26px;
      font-style: italic;
    }
    ul {
      padding: 20px 20px;
      color: #545454;
      li {
        font-family: $sans;
        font-style: italic;
        font-size: 15px;
        line-height: 35px;
        margin-bottom: 12px;
      }
    }
    img:last-of-type {
      float: left;
      margin-right: 15px;
    }
  }
}

//////////// 645 ///////////////////
@media (min-width: 645px) {
  .ethics-wrapper {
    padding: 45px 6%;
    .ethics {
      h1 {
        font-size: 35px;
        margin-bottom: 25px;
      }
      img:first-of-type {
        height: 200px;
        margin-left: 20px;
      }
      h2 {
        font-size: 20px;
        margin-bottom: 15px;
        line-height: 34px;
      }
      h2:first-of-type {
        margin-bottom: 35px;
      }
      h3 {
        font-size: 18px;
        line-height: 35px;
      }
      ul {
        padding: 20px 25px;
        li {
          font-size: 16px;
          line-height: 36px;
          margin-bottom: 14px;
        }
      }
      img:last-of-type {
        margin-right: 17px;
      }
    }
  }
}

//////////// 900 ///////////////////
@media (min-width: 900px) {
  .ethics-wrapper {
    padding: 55px 6%;
    .ethics {
      h1 {
        font-size: 40px;
        margin-bottom: 30px;
      }
      img:first-of-type {
        height: 225px;
        margin-left: 25px;
      }
      h2 {
        font-size: 22px;
        margin-bottom: 17px;
        line-height: 37px;
      }
      h2:first-of-type {
        margin-bottom: 37px;
      }
      h3 {
        font-size: 20px;
        line-height: 37px;
      }
      ul {
        padding: 22px 35px;
        li {
          font-size: 18px;
          line-height: 38px;
          margin-bottom: 16px;
        }
      }
      img:last-of-type {
        margin-right: 17px;
      }
    }
  }
}

//////////// 1200 ///////////////////
@media (min-width: 1200px) {
  .ethics-wrapper {
    padding: 60px 6%;
    .ethics {
      h1 {
        font-size: 45px;
        margin-bottom: 35px;
      }
      img:first-of-type {
        height: 260px;
        margin-left: 30px;
        padding-top: 1%;
      }
      h2 {
        font-size: 23px;
        margin-bottom: 18px;
        line-height: 39px;
      }
      h2:first-of-type {
        margin-bottom: 38px;
      }
      h3 {
        font-size: 21px;
        line-height: 38px;
      }
      ul {
        padding: 25px 40px;
        li {
          font-size: 19px;
          line-height: 39px;
          margin-bottom: 17px;
        }
      }
      img:last-of-type {
        margin-right: 18px;
      }
    }
  }
}

//////////// 1500 ///////////////////
@media (min-width: 1500px) {
  .ethics-wrapper {
    padding: 70px 6%;
    .ethics {
      h1 {
        font-size: 50px;
        margin-bottom: 40px;
      }
      img:first-of-type {
        height: 300px;
        margin-left: 35px;
      }
      h2 {
        font-size: 24px;
        margin-bottom: 19px;
        line-height: 40px;
      }
      h2:first-of-type {
        margin-bottom: 39px;
      }
      h3 {
        font-size: 22px;
        line-height: 39px;
      }
      ul {
        padding: 27px 50px;
        li {
          font-size: 20px;
          line-height: 40px;
          margin-bottom: 18px;
        }
      }
      img:last-of-type {
        margin-right: 19px;
        padding-top: 13px;
      }
    }
  }
}
