.header-wrapper {
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);
  nav {
    position: fixed;
    // opacity: 1;
    // margin-bottom: 20px;
    width: 100%;
    // padding: 0 5px;
    ul {
      // display: flex;
      // justify-content: space-around;
      // padding: 10px 5%;
      li {
        width: 100%;
        padding: 21px 0;
        text-align: center;
        border: 1px solid #013765;
        font-size: 20px;
        background: #fff;
        cursor: pointer;
        a {
          color: #013765;
        }
      }
      li:hover {
        background: #013765;
        transition: .2s;
        a {
          color: #fff;
        }
      }
      li:last-of-type {
        border-bottom: 2px solid #013765;
      }
    }
  }

  figure {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
    img {
      max-width: 80%;
      background-size: cover;
      object-fit: contain;
      margin-bottom: 10px;
    }
    .header-overlay {
      background: url('https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-9/552868_10150688940197356_1035131920_n.jpg?oh=6da04280356f5f3c565eb4baba1d241c&oe=5A31E7F5');
    }
    figcaption {
      width: 100%;
      padding: 4% 5px;
      background: #013765;
      color: #fff;
      text-align: center;
      letter-spacing: .75em;
      font-feature-settings: "liga" 0;
      font-size: 14px;
    }
  }
}

////////////////////////////////////////
#header-slide {
  top: -323px;


  position: absolute;
  // z-index: 5;
  width: 100%;
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#header-slide.down {
  top: 0;
}

#header-wrapper-slide.down {
  // height: 257px;
  // margin-bottom: 257px;
}

///////////////////////////////////////
#nav-icon3 {
  width: 36px; /*60px*/
  height: 33px; /*27px*/
  top: 17px;
  left: 17px;
  position: fixed;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  // background: #013765;
  z-index: 5;
}

#nav-icon3 span {
  background: #013765;
  display: block;
  position: absolute;
  height: 7px;
  width: 100%;
  // background: #ffffff;
  opacity: 1;
  left: 0;
  border-radius: 20%;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
/////////////////////////////////////////

#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 11px; /*18px*/
}

#nav-icon3 span:nth-child(4) {
  top: 22px; /*36px*/
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  // background: #000;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  // background: #000;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
