@import 'fonts';

.header-wrapper {
  height: 320px;
  nav {
    // position: fixed;
    width: 100%;
    ul {
      li {
        width: 100%;
        padding: 21px 0;
        text-align: center;
        border: 1px solid #013765;
        font-size: 20px;
        background: #fff;
        cursor: pointer;
        a {
          text-decoration: none;
          color: #013765;
        }
      }
      li:hover {
        background: #013765;
        transition: .2s;
        a {
          color: #fff;
        }
      }
      li:last-of-type {
        border-bottom: 2px solid #013765;
      }
    }
  }

  figure {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
    img {
      // max-width: 80%;
      width: 256px;
      background-size: cover;
      object-fit: contain;
      margin-bottom: 10px;
    }
    figcaption {
      width: 100%;
      padding: 13px 5px;
      background: #013765;
      color: #fff;
      text-align: center;
      letter-spacing: .75em;
      font-feature-settings: "liga" 0;
      font-size: 14px;
    }
  }
}

.shadow {
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);
}

////////////////////////////////////////
#header-slide {
  top: -323px;
  position: absolute;
  width: 100%;
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#header-slide.down {
  top: 0;
}

// can possible remove id
#header-wrapper-slide.down {
  // height: 257px;
  // margin-bottom: 257px;
}

/////////////////////////////////////
#nav-icon3 {
  width: 36px;
  height: 33px;
  top: 17px;
  left: 17px;
  position: absolute;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  z-index: 5;
}

#nav-icon3 span {
  background: #013765;
  display: block;
  position: absolute;
  height: 7px;
  width: 100%;
  opacity: 1;
  left: 0;
  border-radius: 20%;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
/////////////////////////////////////

#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 11px;
}

#nav-icon3 span:nth-child(4) {
  top: 22px; /*36px*/
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
