@import 'fonts';

.mem-wrapper {
  color: #3f3f3f;
  padding: 30px 0;
  font-family: $robreg;
  text-align: justify;
  .mem-top {
    padding: 0 15px;
    h1 {
      font-family: $av;
      font-size: 30px;
      text-decoration: underline;
      margin-bottom: 10px;
    }
    h2 {
      font-style: italic;
      font-size: 18px;
      margin-bottom: 10px;
      line-height: 25px;
    }
    h3 {
      line-height: 26px;
    }
    ul {
      padding: 20px 20px;
      color: #545454;
      li {
        font-family: $sans;
        font-style: italic;
        font-size: 15px;
        line-height: 35px;
      }
    }
    img {
      float: right;
      height: 100px;
      margin-left: 10px;
    }
  }

  .mem-bottom {
    padding: 0 15px 20px 15px;
    margin-bottom: 10px;
    p {
      font-size: 16px;
      line-height: 26px;
    }
    p:first-of-type {
      margin-bottom: 15px;
    }
  }

  .contact {
    width: 93%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 3%;
    .contact-heading {
      font-family: $av;
      font-size: 30px;
      text-decoration: underline;
      margin-bottom: 15px;
    }
    form {
      background: #ddddde;
      padding: 20px 10px;
      border-radius: 2%;
      .contact-info {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        input {
          font-size: 16px;
          font-family: $sans;
          height: 40px;
          width: 90%;
          margin-bottom: 15px;
          padding-left: 15px;
          border-radius: 10px;
          border: none;
          outline: none;
        }
        input:focus {
          background: #fffff5;
        }
        textarea {
          font-size: 16px;
          font-family: $sans;
          width: 90%;
          margin-bottom: 15px;
          padding-left: 15px;
          padding-top: 10px;
          border-radius: 10px;
          border: none;
          outline: none;
        }
        textarea:focus {
          background: #fffff5;
        }
        button {
          font-family: $sans;
          width: 33.333%;
          height: 50px;
          background: #013765;
          color: #fff;
          border: none;
          font-size: 20px;
          border-radius: 10px;
          outline: none;
        }
        button:hover {
          background: #608541;
          color: #fff;
          transition: all .5s;
          cursor: pointer;
        }
      }
    }
  }
}

//////////// 645 ///////////////////
@media (min-width: 645px) {
  .mem-wrapper {
    padding: 45px 2%;
    .mem-top {
      h1 {
        font-size: 35px;
        margin-bottom: 20px;
      }
      h2 {
        font-size: 21px;
        margin-bottom: 13px;
        line-height: 28px;
      }
      h3 {
        font-size: 18px;
        line-height: 29px;
      }
      ul {
        padding: 18px 26px;
        li {
          font-size: 17px;
          line-height: 38px;
        }
      }
      img {
        height: 150px;
        margin-left: 15px;
      }
    }

    .mem-bottom {
      padding: 0 15px 25px 15px;
      margin-bottom: 15px;
      p {
        font-size: 17px;
        line-height: 28px;
      }
      p:first-of-type {
        margin-bottom: 17px;
      }
    }

    .contact {
      .contact-heading {
        margin-bottom: 20px;
      }
      form {
        border-radius: 4%;
      }
    }
  }
}

//////////// 900 ///////////////////
@media (min-width: 900px) {
  .mem-wrapper {
    padding: 55px 4%;
    .mem-top {
      h1 {
        font-size: 40px;
        margin-bottom: 25px;
      }
      h2 {
        font-size: 25px;
        margin-bottom: 17px;
        line-height: 30px;
      }
      h3 {
        font-size: 19px;
        line-height: 30px;
      }
      ul {
        padding: 18px 35px;
        li {
          font-size: 18px;
          line-height: 40px;
        }
      }
      img {
        height: 175px;
        margin-left: 20px;
      }
    }

    .mem-bottom {
      p {
        font-size: 18px;
        line-height: 29px;
      }
      p:first-of-type {
        margin-bottom: 19px;
      }
    }

    .contact {
      .contact-heading {
        margin-bottom: 22px;
      }
      form {
        border-radius: 25px;
      }
    }
  }
}

//////////// 1200 ///////////////////
@media (min-width: 1200px) {
  .mem-wrapper {
    padding: 65px 7%;
    .mem-top {
      h1 {
        font-size: 45px;
        margin-bottom: 30px;
      }
      h2 {
        font-size: 30px;
        margin-bottom: 22px;
        line-height: 35px;
      }
      h3 {
        font-size: 21px;
        line-height: 32px;
      }
      ul {
        padding: 20px 45px;
        li {
          font-size: 20px;
          line-height: 45px;
        }
      }
      img {
        height: 250px;
        margin-left: 30px;
      }
    }

    .mem-bottom {
      margin-bottom: 25px;
      p {
        font-size: 19px;
        line-height: 33px;
      }
      p:first-of-type {
        margin-bottom: 22px;
      }
    }

    .contact {
      .contact-heading {
        font-size: 35px;
        margin-bottom: 30px;
      }
      form {
        border-radius: 30px;
        .contact-info {
          textarea {
            height: 225px;
          }
        }
      }
    }
  }
}

//////////// 1500 ///////////////////
@media (min-width: 1500px) {
  .mem-wrapper {
    padding: 75px 8%;
    .mem-top {
      h1 {
        font-size: 55px;
        margin-bottom: 35px;
      }
      h2 {
        font-size: 35px;
        margin-bottom: 27px;
        line-height: 40px;
      }
      h3 {
        font-size: 23px;
        line-height: 36px;
      }
      ul {
        padding: 23px 55px;
        li {
          font-size: 22px;
          line-height: 50px;
        }
      }
      img {
        height: 285px;
        margin-left: 35px;
      }
    }

    .mem-bottom {
      margin-bottom: 55px;
      p {
        font-size: 20px;
        line-height: 37px;
      }
      p:first-of-type {
        margin-bottom: 27px;
      }
    }

    .contact {
      .contact-heading {
        font-size: 40px;
        margin-bottom: 35px;
      }
      form {
        border-radius: 30px;
        .contact-info {
          textarea {
            height: 275px;
          }
        }
      }
    }
  }
}
